.App {
  text-align: center;
  background: #1a2980; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #26d0ce,
    #1a2980
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #26d0ce,
    #1a2980
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h3{
  color: rgb(219, 71, 71);
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: left;
}
h1{
  color: rgba(0, 0, 0, 0.808);
  font-family: "sans-serif";

}